// colors taken from 
// https://en.wikipedia.org/wiki/Pok%C3%A9mon_Trading_Card_Game#Pok%C3%A9mon_types

$types: (
  grass: #00ba47,
  bug: #00ba47,
  fire: #ff3d4a,
  water: #00aaf9,
  ice: #00aaf9,
  electric: #ffec49,
  poison: #de00d6,
  psychic: #de00d6,
  ghost: #de00d6,
  ground: #d97537,
  rock: #d97537,
  fighting: #d97537,
  dark: #363636,
  steel: #bebebe,
  fairy: #f33981,
  dragon: #b19768,
  normal: #9c9c9c,
  flying: #bebebe,
  text-color: #ffffff,
);

@mixin type($type) {
  .type-#{$type} {
    margin: 5px;
    padding: 5px;
    color: map-get($types, text-color);
    font-weight: 700;
    background: map-get($types, $type);
    border-radius: 5px;
  }
}

@include type(grass);
@include type(bug);
@include type(fire);
@include type(water);
@include type(ice);
@include type(electric);
@include type(poison);
@include type(psychic);
@include type(ghost);
@include type(ground);
@include type(rock);
@include type(fighting);
@include type(dark);
@include type(steel);
@include type(fairy);
@include type(dragon);
@include type(normal);
@include type(flying);

.types-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}