.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.page-link:focus { 
  box-shadow: none;
}

.page-item.disabled .page-link{
  background-color:#E7EBEE;
}

@media only screen and (max-width: 835px) {
  .pagination {
    margin: 10px auto;
  }
}

@media only screen and (max-width: 565px) {
  .page {
    display: none;
  }
}