.error-container {
  position: absolute;
  width: 280px;
  left: calc(50vw - 140px);
  top: calc(50vh - 221px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.img-container {
  margin: auto;
  width: 100%;
  height: 370px;
}

img {
  width: 280px;
}

.error-text {
  text-align: center;
  margin: 10px;
}

.error-link {
  text-align: center;
  margin: 10px;
}

